body {
    padding: 2em;  
  }
  
  .counter-reset{
     counter-reset: checkboxcounter;
  }
  
  .meucheckbox{
     width: 20px;
     height: 20px;
     margin-right: 10px;
     appearance: checkbox;
     -moz-appearance: checkbox;
     -webkit-appearance: checkbox;
  }
  
  
  .counter-print::after{
     content: "Total: " counter(checkboxcounter);
  }
  
  
  .meucheckbox:checked{
     counter-increment: checkboxcounter;
  }